<div class="card">
  <h2><%= @restaurant.name %></h2>
  <ul>
    <li><%= @restaurant.category %></li>
    <li><%= @restaurant.phone_number %></li>
    <li><%= @restaurant.address %></li>
    <li>Ratings & Reviews: </li>
    <ul>
      <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.rating %> ⭐️|
        <%= review.content %>
      </li>
      <% end %>
    </ul>
    <li><%= link_to 'Edit', edit_restaurant_path%></li>
    <li><%= link_to 'Review', new_restaurant_review_path(@restaurant)%></li>
  </ul>
</div>


